
<div th:if="${success} != null">
	<div class="alert success">
		<span class="closebtn">&times;</span> <strong th:text="${success}"></strong>
	</div>
</div>
<div th:if="${fail} != null">
	<div class="alert">
		<span class="closebtn">&times;</span> <strong th:text="${fail}"></strong>
	</div>
</div>
<script type="text/javascript">
	var close = document.getElementsByClassName("closebtn");
	var i;

	for (i = 0; i < close.length; i++) {
		close[i].onclick = function() {
			var div = this.parentElement;
			div.style.opacity = "0";
			setTimeout(function() {
				div.style.display = "none";
			}, 600);
		}
	}
</script>