<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<body>
	<header class="cabecalho" th:fragment="cabecalho">
		<div class="logo">
			<a href="/home"> <img
				th:src="@{/materialize/img/spring-boot-logo.png}" alt="Logo" />
			</a>
		</div>
		<div class="menu">
			<ul>
				<li><a href="/home">Início</a></li>
				<li><a href="/cadastros/cadastrar">Cadastro</a></li>
				<li><a href="/cadastros/listar">Lista</a></li>
			</ul>
		</div>

		<button class="menu-toggle">
			<i class="large material-icons">add_shopping_cart</i>
		</button>
		<div th:replace="fragments/carrinho"></div>
	</header>
	<script type="text/javascript" th:src="@{/materialize/js/my.js}"></script>
</body>
</html>