<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<body>
	<header class="cabecalho" th:fragment="cabecalho">
		<div class="logo">
			<a th:href="@{/home}"> 
				<h5 class="card-panel grey darken-2" style="margin-left: 10px;color:#9ccc65;">E-Commerce Lite</h5>
			</a>
		</div>
		<div class="menu">
			<ul>
				<li><a id="#home" th:href="@{/home}">Início</a></li>
				<li><a id="#cadastro" th:href="@{/cadastros/cadastrar}">Cadastro</a></li>
				<li><a id="#listar" th:href="@{/produtos/listar}">Lista</a></li>
			</ul>
		</div>

		<button class="menu-toggle">
			<i class="large material-icons">add_shopping_cart</i>
		</button>
		<div th:replace="fragments/carrinho"></div>
	</header>
	<script type="text/javascript">
	window.onhashchange = function(e) {
		const oldURL = e.oldURL.split('#')[1]
		const newURL = e.newURL.split('#')[1]
		console.log(oldURL, newURL)
		const oldMenu = document.querySelector(`.menu a[id='#${oldURL}']`)
		const newMenu = document.querySelector(`.menu a[id='#${newURL}']`)
		oldMenu && oldMenu.classList.remove('selected')
		newMenu && newMenu.classList.add('selected')
	}
	</script>
</body>
</html>