<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>

	<!-- Modal Structure -->
	<div th:fragment="modal">
	
		<div id="modalDel" class="modal">
			<div class="modal-content">
				<h4>Deletar Produto</h4>
				<p>Deseja realmente deletar o produto?</p>
				<button href="#!" id="ok_confirm"
					class="btn waves-effect waves-light modal-close" name="action">
					Sim <i class="material-icons right">send</i>
				</button>
			</div>

			<div class="modal-footer">
				<a href="#!" 
					class="modal-close waves-effect waves-green btn-flat">Sair</a>
			</div>
		</div>

	</div>
</body>
</html>