<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>

	<!-- Modal Structure -->
	<div th:fragment="modal">

		<div id="modalCart" class="modal">
			<div class="modal-content">
				<h4>Quantidade</h4>
				<p>Adicione a quantidade de itens desejados:</p>

				<!-- <form class="col s6" th:action="@{/carrinho/salvar}" 
					th:object="${produto}" method="post">

					<div class="col s1">
						<div class="input-field inline">
							<input id="email_inline" type="text" class="validate"
								th:field="*{quantidade}"><label
								for="quantidade">Quantidade</label>
						</div>
					</div>
					<button href="#!" class="btn waves-effect waves-light modal-close"
						type="submit" name="action">
						Enviar <i class="material-icons right">send</i>
					</button>
				</form> -->


			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Sair</a>
			</div>
		</div>

		<div id="modalEdit" class="modal">
			<div class="modal-content">
				<h4>Editar Produto</h4>
				<p>Em Construção</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Sair</a>
			</div>
		</div>

		<div id="modalDel" class="modal">
			<div class="modal-content">
				<h4>Deletar Produto</h4>
				<p>Deseja realmente deletar o produto?</p>
				<button href="#!" id="ok_confirm" class="btn waves-effect waves-light modal-close"
					name="action">
					Sim <i class="material-icons right">send</i>
				</button>
			</div>

			<div class="modal-footer">
				<a href="#!" id="ok_confirm" class="modal-close waves-effect waves-green btn-flat">Sair</a>
			</div>
		</div>

	</div>
	
	<script type="text/javascript">
		var url = '';

		$('button[id*="btn_"]').click(function() {
			url = "http://localhost:8000/" + $(this).attr('id').split("_")[1];
		});

		$('#ok_confirm').click(function() {
			document.location.href = url;
		});
	</script>
</body>
</html>