<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<!-- Modal Structure -->
	<div th:fragment="modal">
	
		<div id="modalCart" class="modal">
			<div class="modal-content">
				<h4>Quantidade</h4>
				<p>Adicione a quantidade de itens desejados:</p>
				<div class="col s12">
					<div class="input-field inline">
						<input id="email_inline" type="text" class="validate"><label
							for="quantidade">Quantidade</label>
					</div>
				</div>
				<button href="#!" class="btn waves-effect waves-light modal-close" type="submit"
					name="action">
					Enviar <i class="material-icons right">send</i>
				</button>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Sair</a>
			</div>
		</div>
		<div id="modalEdit" class="modal">
			<div class="modal-content">
				<h4>Modal Editar</h4>
				<p>A bunch of text</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Sair</a>
			</div>
		</div>
	
		<div id="modalDel" class="modal">
			<div class="modal-content">
				<h4>Modal Delete</h4>
				<p>A bunch of text</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Sair</a>
			</div>
		</div>
	
	</div>
</body>
</html>