
<div  th:if="${#fields.hasAnyErrors()}" th:fragment="validacao">
	<div class="alert" th:each="error : ${#fields.detailedErrors()}">
		<span class="closebtn">&times;</span> <span th:text="${error.message}"></span>
	</div>
</div>
<script type="text/javascript">
	var close = document.getElementsByClassName("closebtn");
	var i;

	for (i = 0; i < close.length; i++) {
		close[i].onclick = function() {
			var div = this.parentElement;
			div.style.opacity = "0";
			setTimeout(function() {
				div.style.display = "none";
			}, 600);
		}
	}
</script>
