<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div class="conteudo" layout:fragment="corpo">
		<div th:replace="fragments/alert"></div>

		<div th:replace="fragments/despesas"></div>

		<table id="myTable" class="centered responsive-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Foto:</th>
					<th>Nome:</th>
					<th>Descrição:</th>
					<th>Custo:</th>
					<th>Venda:</th>
					<th>Operação:</th>
				</tr>
			</thead>
			<tbody th:each="pt : ${produtos}">
				<tr th:if="${ pt.custo } &gt; 1">
					<td th:text="${pt.id}">1</td>
					<td><img th:src="${pt.foto}" width="50" height="50"></img></td>
					<td th:text="${pt.nome}">NOME</td>
					<td th:text="${pt.descricao}">DESCRICAO</td>
					<td th:text="|R$ ${{pt.custo}}|">CUSTO</td>
					<td th:text="|R$ ${{pt.venda}}|">VENDA</td>
					<td><a th:id="${#strings.concat('btn_carrinho/captura/', pt.id)}"
						class="waves-effect waves-light btn-small modal-trigger"
						href="#modalCart"><i class="large material-icons">shopping_cart</i></a>&nbsp

						&nbsp<a th:href="@{/cadastros/editar/{id} (id=${pt.id}) }"
						class="waves-effect waves-light btn-small"><i
							class="large material-icons">edit</i></a>&nbsp &nbsp<a
							th:href="@{/despesas/excluir/{id} (id=${pt.id}) }"
						class="waves-effect waves-light btn-small"
						><i class="large material-icons">delete</i></a></td>
						<!-- th:id="${#strings.concat('btn_cadastros/excluir/', pt.id)}" -->
						<!-- th:id="${#strings.concat('btn_carrinho/captura/', pt.id)}" -->
				</tr>
			</tbody>
		</table>
		<div th:replace="fragments/modal :: modal"></div>
	</div>
	
</body>
</html>