<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div class="conteudo cadastro" layout:fragment="corpo">
	
		<div class="row">
			<h3>Cadastro de Produto:</h3>
			<form class="col s12" 
				th:action="@{/cadastros/salvar}" 
				th:object="${produto}"
				method="post">
				<div class="row">
					<div class="input-field col s6">
						<input id="last_name" type="text" class="validate" th:field="*{nome}"> 
						<label for="Nome">Nome</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="last_name" class="validate" type="text" th:field="*{custo}"> 
						<label for="Custo">Custo</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="last_name" type="text" class="validate" th:field="*{descricao}"> 
						<label for="Descrição">Descrição</label>
					</div>
				</div>
				<button class="btn waves-effect waves-light" type="submit"
				name="action">
				Enviar <i class="material-icons right">send</i>
			</button>
			</form>
			
		</div>
	</div>



</body>
</html>